@model List<Booking>

@{
    ViewData["Title"] = "Booking List";
    Layout = "~/Views/Shared/GetHotels_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/popUp.css" />
<link rel="stylesheet" href="~/css/searchbeautyne.css" />
<script type="text/javascript">
        function showPopup() {
            document.getElementById("popup").style.display = "block";
        }

        function hidePopup() {
            document.getElementById("popup").style.display = "none";
        }
        function thongbao(noidungthongbao) {
            document.getElementById('noidungthongbao').innerHTML = noidungthongbao;
            showPopup();
        }
    </script>
<style>
    .booking-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width:100%;
        overflow-x:scroll;
        z-index: 21;
        position: relative;
    }

    .booking-list-title {
        color: #7fc142;
        font-size: 45px;
        margin: 14px 0 36px;
        font-weight: 600;
    }

    .booking-list-table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
    }

    .booking-list-table th,
    .booking-list-table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    .booking-list-table th {
        background-color: #4CAF50;
        color: white;
    }

    .booking-list-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .booking-list-table tbody tr:hover {
        background-color: #f5f5f5;
    }

    .booking-list-button {
        display: inline-block;
        padding: 8px 12px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .booking-list-button:hover {
        background-color: #45a049;
    }

    .booking-list-container tbody {
        background-color: white;
    }
</style>
@if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Partner"))
{
    <div class="BeautySearchBackground">
    </div>
    <div class="BeautySearch">
        <input type="text" placeholder="Search...">
        <div class="search"></div>
    </div>
}
<div class="booking-list-container">
    <h1 class="booking-list-title">Booking List</h1>
    <table class="booking-list-table">
        <thead>
            <tr>
                <th style="min-width:15vw;">Booking ID</th>
                <th>Hotel Name</th>
                <th style="min-width:30vw;">Hotel Address</th>
                <th>Booking Date</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Check-In Date</th>
                <th>Check-Out Date</th>
                <th>Room Type</th>
                <th>Room Number</th>
                <th>Total Guests</th>
                <th>Payment Method</th>
                <th>Total Amount</th>
                <th>Booking Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.BookingID</td>
                    <td>@booking.HotelName</td>
                    <td>@booking.HotelAddress</td>
                    <td>@booking.BookingDate.ToString("g")</td>
                    <td>@booking.CustomerName</td>
                    <td>@booking.CustomerEmail</td>
                    <td>@booking.CheckInDate.ToShortDateString()</td>
                    <td>@booking.CheckOutDate.ToShortDateString()</td>
                    <td>@booking.RoomType</td>
                    <td>@booking.RoomNumber</td>
                    <td>@booking.NumberAdults ; @booking.NumberChildren</td>
                    <td>@booking.PaymentMethod</td>
                    <td>@booking.TotalAmount$</td>
                    <td>@booking.BookingStatus</td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div id="popup">
    <div id="popup-content">
        <div id="close" onclick="hidePopup()">&times;</div>
        <label class="iconlabaido">&hearts;</label>
        <label class="iconlabaiden">&clubs;</label>
        <h2 style="display: inline">Thông báo </h2>
        <label class="iconlabaido">&diams;</label>
        <label class="iconlabaiden">&spades;</label>
        <p id="noidungthongbao">Đây là nội dung của thông báo.</p>
    </div>
</div>
<script>
    var searchbtn=document.querySelector(".BeautySearch input");
    var BeautySearchBackgroundOBJ = document.querySelector(".BeautySearchBackground");
    var searchbeautyOBJ = document.querySelector(".BeautySearch");
    //BeautySearchBackgroundOBJ.style.removeProperty("background");
    //searchbeautyOBJ.style.removeProperty("background");
    //searchbtn.addEventListener('click', function () {
    //    alert("ok");
    //    BeautySearchBackgroundOBJ.style.backgroundColor = "#252525";
    //    searchbeautyOBJ.style.backgroundColor = "#252525";
    //});
    searchbtn.addEventListener('keydown', function (event) {
        if (event.keyCode === 13) {
            if (searchbtn.value=="") {
                thongbao("\nVui lòng nhập dữ liệu trước khi tìm kiếm.");
            }
            else
            {
                $.ajax({
                    url: "/Booking/GetBookingsWithRole",
                    type: "POST",
                    data: {
                        SearchString: searchbtn.value
                    },
                    success: function (response) {
                        // Xử lý phản hồi thành công
                        var data = response;
                        if (data.length > 0) {
                            var KetQua = '<thead><tr><th style="min-width:15vw;"> Booking ID </th><th> Hotel Name </th><th style = "min-width:30vw;"> Hotel Address </th><th> Booking Date </th><th> Customer Name </th><th> Customer Email </th><th> Check - In Date </th><th> Check - Out Date </th><th> Room Type </th><th> Room Number </th><th> Total Guests </th><th> Payment Method </th><th> Total Amount </th><th> Booking Status </th></tr></thead><tbody>';
                            for (var i = 0; i < data.length; i++) {
                                KetQua += '<tr><td>' + data[i].bookingID + '</td>';
                                KetQua += '<td>' + data[i].hotelName + '</td>';
                                KetQua += '<td>' + data[i].hotelAddress + '</td>';
                                KetQua += '<td>' + data[i].bookingDate + '</td>';
                                KetQua += '<td>' + data[i].customerName + '</td>';
                                KetQua += '<td>' + data[i].customerEmail + '</td>';
                                KetQua += '<td>' + data[i].checkInDate + '</td>';
                                KetQua += '<td>' + data[i].checkOutDate + '</td>';
                                KetQua += '<td>' + data[i].roomType + '</td>';
                                KetQua += '<td>' + data[i].roomNumber + '</td>';
                                KetQua += '<td>' + data[i].numberAdults + ' ; ' + data[i].numberChildren + '</td>';
                                KetQua += '<td>' + data[i].paymentMethod + '</td>';
                                KetQua += '<td>' + data[i].totalAmount + '$' + '</td>';
                                KetQua += '<td>' + data[i].bookingStatus + '</td></tr>';
                            }
                            KetQua += '</tbody>';
                            document.querySelector('.booking-list-table').innerHTML = KetQua;
                            thongbao("<br/>Yeah! Có " + data.length + " Kết quả được tìm thấy.");
                        }
                        else {
                            thongbao("\nKhông tìm thấy bất kỳ kết quả nào phù hợp :(");
                            var KetQua = '<thead><tr><th style="min-width:15vw;"> Booking ID </th><th> Hotel Name </th><th style = "min-width:30vw;"> Hotel Address </th><th> Booking Date </th><th> Customer Name </th><th> Customer Email </th><th> Check - In Date </th><th> Check - Out Date </th><th> Room Type </th><th> Room Number </th><th> Total Guests </th><th> Payment Method </th><th> Total Amount </th><th> Booking Status </th></tr></thead><tbody>';
                            KetQua += '</tbody>';
                            document.querySelector('.booking-list-table').innerHTML = KetQua;
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 401) {
                            thongbao("<br/>Xin lỗi! Bạn không có quyền thao tác chức năng này :(");
                        } else {
                            if (xhr.responseJSON.message != null && xhr.responseJSON.message!="")
                            {
                                thongbao("<br/>" + xhr.responseJSON.message);
                            }
                            else
                            {
                                thongbao("<br/>Lỗi không gửi được truy vấn. Vui lòng tải lại trang và thử lại.");
                            }
                        }
                    }
                });
            }
        }
    });
</script>
<script>
    searchbtn.addEventListener('focus', function () {
        BeautySearchBackgroundOBJ.style.backgroundColor = '#252525';
});

    searchbtn.addEventListener('blur', function () {
    BeautySearchBackgroundOBJ.style.backgroundColor = ''; // Đặt lại giá trị mặc định của background color
});
</script>